{% include 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block body %}
  <script src="{% static 'js/chat.js' %}"></script>

  <div class="chat" data-controller="chat" data-reflex-root=".chat" data-action="force:update->chat#reload">
    <div class="conversation">
      {% for message in messages %}
        {% if message.user.id == user_id %}
          {% include 'my_chat_message.html' %}
        {% else %}
          {% include 'chat_message.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <form class="composer" data-chat-target="form">
        <input class="input" type="text" placeholder="Type a message" autofocus data-chat-target="message"/>
        <button class="send" type="submit" data-action="click->chat#newMessage">Send</button>
    </form>
  </div>
{% endblock %}
